{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
    <h1>Ticket</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ ticket.date ? ticket.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ ticket.status.name }}</td>
            </tr>
            <tr>
                <th>From</th>
                <td>{{ ticket.userId.username }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ ticket.subject }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ ticket.content }}</td>
            </tr>
            <tr>
                <th>assign to</th>
                <td>
                    {% for user in ticket.assignTo %}
                        {{ user.username }}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('ticket_remove_user', {'id': ticket.id, 'user_id': user.id}) }}">remove this user</a> &nbsp;&nbsp;&nbsp;&nbsp;
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    {% for message in messages %}
        <div class="msg">
            <p>From <strong>{{ message.userId }}</strong> at {{ message.date | date("Y-m-d H:i:s") }}</p>
            <p class="content">{{ message.content }}</p>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('message_edit', {'id': message.id} ) }}">Edit</a>
        {% endif %}
        <hr>
    {% endfor %}

    {% if ticket.status.isOpen %}
        {{ include('ticket/_new_message_form.html.twig') }}
    {% endif %}

    <a href="{{ path('ticket_index') }}">back to list</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('ticket_edit', {'id': ticket.id}) }}">edit</a>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        {{ include('ticket/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
