<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav>
            {% if app.user %}
                <a href="{{ path('app_logout') }}">Logout</a>
            {% else %}
                <a href="{{ path('app_login') }}">Login</a>
                <a href="{{ path('user_registration') }}">Register</a>
            {% endif %}
            <a href="{{ path('ticket_index') }}">My Ticket</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('message_index') }}">Messages administration</a>
            {% endif %}
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
